.meetVideoContainer {
    position: relative;
    height: 100dvh;
    background: rgb(0, 2, 20);
}

.peerVideoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available
}

.meetPeerVideoAndChat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}

.videoWrapper {
  display: flex;
  width: 100vw;
  height: 90%;
  gap: 1rem;
  padding: 1rem;
}

.buttonBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}

.meetUserVideo {
    z-index: 999;
    position: absolute;
    bottom: 12vh;
    left: 1rem;
    height: 8rem;
    width: 14rem;
    border-radius: 20px;
    border : 2.2px solid rgb(244, 244, 244);
    background: black;
    object-fit: cover;
}

.meetUserp {
    z-index: 999;
    position: absolute;
    bottom: 184px;
    left: 12.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 8px;
    border-radius: 14px;
    font-size: 0.8rem;
    font-weight: 500;
}

.buttonContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.messageIcon svg, .buttonContainer svg {
    font-size: 1.2rem;
}

.messageIcon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer svg, .messageIcon svg, .mobileMessageIcon svg{
    cursor: pointer;
}

.buttonContainer svg {
    width: 18px;
}

.peerVideoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0.6px solid gray;
    border-radius: 20px;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1.5px 1.5px 2px rgba(169, 169, 169, 0.2);
}


.conferenceView {
  display: grid;
  gap: 1rem;
  height: -webkit-fill-available;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  justify-items: center;
  align-items: center;
}


.conferenceView  video {
  background: black;
  width: 85%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.conferenceView  p {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
}

.twoRowGrid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.chatRoom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: -webkit-fill-available;
    width: 35%;
    padding: 2rem;
    background: whitesmoke;
    border-radius: 22px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.chatRoom.show {
    opacity: 1;
    transform: translateY(0);
}

.chatContainer {
    height: 90%;
}

.chatInput {
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.css-1xp5r68-MuiFormControl-root-MuiTextField-root {
    width: -webkit-fill-available;
}

.chatTextField {
    width: 84%;
    border-radius: 20px !important;
}

.chatInput .css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutline {
    border-radius: 23px;
}

.chatInput button {
    background: whitesmoke;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41.2px;
    height: 40px;
    background-color: blue;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    background-color: #333537;
}

.chatInput svg {
    width: 11px;
    color: white;
}

.css-1xp5r68-MuiFormControl-root-MuiTextField-root {
    width: 84% !important;
}
.chatInput .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px 10px 10px 18px !important;
}

.css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutline {
    border-radius: 20px;
}
.css-18p5xg2-MuiNotchedOutlined-root-MuiOutlinedInput-notchedOutline {
    border-radius: 20px;
}

.css-11ei0g7-MuiFormControl-root-MuiTextField-root input {
    padding: 10px 12px !important;
    width: 100%;
}

.chatDisplay {
    overflow-y: auto;
    height: inherit;
    scrollbar-width: none;         
    -ms-overflow-style: none;  
}

.chatDisplay::-webkit-scrollbar {
  display: none;                 
}

#btn1 {
    background-color: #333537;
    padding: 8px;
    border-radius: 50%;
}
#btn2 {
    background-color: gray;
    padding: 8px;
    border-radius: 50%;
}

#callEndBtn {
    background-color: red;
    padding: 6px 20px;
    border-radius: 30px;
}

.mobileMessageIcon {
    display: none !important;
}

.timeDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
    color: white;
    width: 10%;
}


@media (max-width: 1381px) {
    .chatRoom {
        width: 40%;
    }
}

@media (max-width: 1210px) {
    .conferenceView  video {
        border-radius: 20px;
        width: 100%;
        object-position: initial;
    }
}

@media (max-width: 1155px) {
    .chatRoom {
        width: 47%;
    }
    .conferenceView {
        grid-template-columns: repeat(auto-fit, minmax(250px));
    }
}
@media (max-width: 889px) {
    .chatRoom {
        z-index: 999;
        position: absolute;
        margin-top: 1rem;
        right: 1rem;
        width: 330px;
        bottom: 83px;
    }
}
@media (max-width: 883px) {
    .timeDisplay {
        padding-left: 1rem;
    }
}
@media (max-width: 850px) {
    .twoRowGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .videoWrapper {
        overflow-y: scroll;
    }
    .videoWrapper::-webkit-scrollbar {
        display: none !important;
    }
    .conferenceView {
        height: fit-content;
    }
}
@media (max-width: 815px) {
    .meetUserVideo {
        height: 6rem;
        width: 10rem;
    }
    .meetUserp {
        left: 8.2rem;
        bottom: 151px;
        border-radius: 11px;
    }
}
@media (max-width: 555px) {
    .mobileMessageIcon {
        display: flex !important;
    }
    .messageIcon {
        display: none !important;
    }
    .timeDisplay {
        display: none !important;
    }
    .buttonContainer {
        width: 100%;
    }
}
